* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}


header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    margin: 40px 40px;

}

/* tentando fazer a virada de carta*/
.turnCard {
    transition: all .5s;
    transform: rotateY(180deg);
}

.card {
    width: 117px;
    height: 147px;
    border-radius: 5px;
    background-color: #A7E9AF;
    margin: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.35em rgb(95, 95, 95);
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;

}

.card:active {
    transform: scale(0.97);
}

.frontFace {
    position: absolute;
    transform: rotateY(180deg);
    
}

.backFace {
    position: absolute;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card img {
    width: 100px;
    height: 100px;
}


.disappears {
    display: none;
}


@media(max-width:520px) {
    nav {
        display: grid;
    }

    header p {
        font-size: 36px;
        margin: 0px 100px;
    }
}